* {
  box-sizing: border-box; 
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  color: black;
  background-color: #5100A3;
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
}
#main > nav, 
#main > aside {
  flex: 0 0 10%;
  background: white;
}
#main > nav {
  order: -1;
}
header{
  height: 5%;
  border-bottom: white 5px solid;
}
header, footer, article, aside {
  padding: 1%;
}
nav{
  padding-top: 3%;
}
/* MENU */
.menu, .footer{
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.menu ul, .footer ul{
  list-style: none;
  position: relative;
}

.menu ul li{
  width: 20%;
  float: left;
  text-decoration: none;
}

.menu a, .rodape a{
  margin: 2%;
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 130%;
  
}

ul li a img, .footer.col.imagem{
  max-width: 15%;
  max-height: 15%;
}

.menu a:hover, .rodape a:hover{
  color: #D0A2FF;
}
/* CONTEÚDO DO SITE */
.artigo{
  width: 100%;
  margin: auto;
  padding: 5%;
}

.line-card{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.card{
  width: 15rem;
  padding-top: 1%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2%;
  text-decoration-line: none;
  color: black;
}


.card:hover{
  transition: 0.5s;
  box-shadow: 0 4px 16px 0 black;
  transform: scale(1.1);
  cursor: pointer;
}

.card img{
  width: 100%;
  height: 20rem;
  width: auto;
  object-fit: cover;
}

.card p{
  margin: 3%;
  padding: 2%;
  text-justify: distribute;
}
/* NAVEGAÇÃO */
.navegador ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navegador ul li{
  font-size: 15px;
  font-weight: bold;
  padding: 10% 5px 10% 5px;
  cursor: pointer;
  text-align: center;
}
.navegador ul li a{
  list-style: none;
  text-decoration: none;
  color: #5f605f !important;
  padding: 1% 1% 5% 1%;
}
.navegador ul li:hover{
  background-color: #5100A3;
  transition: .4s;
  color: white !important;
}
.navegador a:hover{
  color: white !important;
}

/* FOOTER / RODAPE */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  border-top: white 5px solid;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.footer .texto {
  width: 430px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.footer .col h1 {
  margin: 0;
  margin-bottom: 5%;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #D0A2FF;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li{
  font-size: 15px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
  transition: .2s;
}

.footer .col ul li img{
  margin: 5%;
  margin-top: 30%;
}

.social ul li a{
  display: inline-block;
  padding-right: 5px !important;
  text-decoration: none;
  color: white;
}
.social ul li a:hover{
  color: #D0A2FF;
}

.footer .col ul li:hover {
  color: #D0A2FF;
  transition: .1s;
}

.card-notice{
  width: 80%;
  height: 80%;
  padding-top: 1%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration-line: none;
  color: black;
  border-radius: 1%;
}

.card-notice h1{
  font-size: 50px;
  font-family: fantasy;
  text-align: left;
  text-transform: uppercase;
}

.card-notice img{
  max-width: 90%;
}

.card-notice p{
  text-justify: newspaper;
  font-family: Arial, Helvetica, sans-serif;
  color: #5f605f;
  font-size: 18px;
  margin: 2% 5% 3% 5%;
  word-spacing: 5px;
  line-height: 24px;
}

table {
  max-width: 80%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: arial;
}

.table {
  width: 100%;
  margin: 10px;
}

.table th,
.table td {
  border-right: #999999 solid 1px;
  font-size: 15px;
  padding: 10px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
}

.table td:last-child {
   border-right: 0;
}

.table thead th {
  font-weight: normal;
  background-color: #5100A3;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
}

.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
  background-color: #f8f8f8;
}

/* RESPONSIVIDADE COM MEDIA QUERY */
@media screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
  .card{
    border-radius: 1%;
  }
}
@media screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
  .card{
    border-radius: 1%;
  }
  nav{
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
  nav{
    display: none;
  }
  .card{
    border-radius: 1%;
  }
}

@media screen and (max-width: 800px){

  .menu{
    margin-top: 5px;
    transition: all .4s;
    margin-left: 0%;
  }
  .menu ul li{
    width: 100%;
    float: none;
    display: block;
  }
  nav{
    display: none;
  }
  .card{
    border-radius: 1%;
  }
  .artigo{
    padding: 2%;
  }
  #main article{
    padding: 1%;
  }
}

@media screen and (max-width: 767px) { 
  .table-responsive {
    display: block;
    position: relative;
    width: 100%;
  }

  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: block;
  }
  .table-responsive td,
  .table-responsive th {
    height: 35px;
  }

  .table-responsive thead {
    float: left;
  }

  .table-responsive tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .table-responsive tbody tr {
    display: inline-block;
  }

  
  .table td:last-child {
     border-right: #999999 solid 1px;
  }
  .menu{
    margin-top: 5px;
    transition: all .4s;
    margin-left: 0%;
  }
  .artigo{
    padding: 1%;
  }
  #main article{
    padding: 1%;
  }
}

@media screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
  .card{
    border-radius: 1%;
  }
  .menu{
    margin-top: 5px;
    transition: all .4s;
    margin-left: 0%;
  }
  .artigo{
    padding: 1%;
  }
  #main article{
    padding: 1%;
  }
  .footer div.col {
    width: 100%;
    align-content: center;
    align-items: center;
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
    .line-card{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .card{
      border-radius: 1%;
      margin: 2%;
    }
    #main article{
      padding: 2%;
    }
    .footer > div.col {
      width: 100%;
      align-content: center;
      align-items: center;
      display: block;
      text-align: center;
    }
}

@media screen and (max-width: 340px) {
  .footer .col {
    width: 40%;
  }

  .card{
    border-radius: 1%;
  }
  #main article{
    padding: 2%;
  }
  .footer > div.col {
    width: 100%;
    align-content: center;
    align-items: center;
    display: block;
    text-align: center;
  }
}