<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<title>CinemaTur</title>
	<link rel="stylesheet" href="../css/style.css">
</head>

<body>

  <header class="menu">
		<ul>
			<li><a href="../index.html"><img src="../img/logo.png" alt="" sizes="15px" srcset=""></a></li>
			<li><a href="../index.html">Home</a></li>
			<li><a href="https://www.ingresso.com/itapevi/home/">Ingressos</a></li>
			<li><a href="http://www.adorocinema.com/">Mais sobre</a></li>
			<li><a href="pedidos.html">Pedidos</a></li>
		</ul>
	</header>

  <div id="main">
    <article class="artigo">
		<div class="container-fluid">

			<div class="line-card">
				<div class="card-notice">
                        <h1>Venom</h1>
					<img src="../img/w1.jpg" alt="" sizes="" srcset="">
					<p>     Já se forma um consenso na crítica nerd que Venom é um filme que soa anacrônico, pré-Marvel Studios, como se 
                        tivesse sido feito no começo dos anos 2000, porque não teria o acabamento que se espera hoje de blockbusters baseados em HQs. 
                        A associação com a Marvel é óbvia não só pela hegemonia do estúdio no mercado mas também porque o vilão do Homem-Aranha faz 
                        parte desse universo nos quadrinhos. Na minha opinião, porém, essa impressão deriva, antes, do fato de Venom ser visivelmente um produto precário, 
                        feito com cartilha de roteiro e CGI de ocasião, e não por uma suposta fatalidade de timing. No mais, esse é um consenso bem condescendente.
                        Afinal, a própria Marvel comete seus enganos, e eventualmente aprende com eles. No caso de Venom, o projeto todo parece ter a mediocridade como 
                        régua, e inclusive é uma régua que segue valendo em Hollywood em 2018 de forma geral: a adaptação segue o cânone do personagem mais a título de 
                        fan service do que de autenticidade (a citação ao Globo Diário, principalmente, é jogada e não serve para dar uma substância maior ao jornalista) 
                        e todo o desenrolar da trama acontece aos trancos com cenas expositivas. A opção pela ação noturna para mascarar a computação gráfica já não é tão 
                        frequente nos filmes do gênero hoje mas também continua sendo uma constante do mercado.</p>
                        <p>Nos quadrinhos, Venom e Eddie Brock nunca foram um primor de dinâmica shakespeareana, e para funcionar o filme precisaria acertar, 
                        primeiro, essa relação entre os dois personagens, já que o triângulo formado com o Homem-Aranha está fora de questão. Tom Hardy oferece uma 
                        interpretação marrenta-introvertida que flerta com a pantomima a partir do momento em que começa a simbiose, mas o diretor Ruben Fleischer 
                        dilui essa ideia no meio de outras (a simbiose tem um caráter de possessão de filme de horror nos primeiros hospedeiros, depois de pulsão e 
                        prazer quando o filme nos habitua com a ideia da simbiose). No filme, essas mudanças de chave não acontecem exatamente como uma progressão e 
                        soam mais como casuísmo.</p>
				</div>
			</div>
		</div>
	</article>

	<nav class="navegador">
		<ul>
			<li><a href="#"> Star Wars: Uma Nova Esperança </a></li>
			<li><a href="#"> E.T. – O Extraterrestre </a></li>
			<li><a href="#">Um Sonho de Liberdade</a></li>
			<li><a href="#">O Mágico de Oz</a></li>
			<li><a href="#">O Poderoso Chefão</a></li>
			<li><a href="#">Casablanca</a></li>
			<li><a href="#">A Chegada</a></li>
			<li><a href="#">As Vantagens De Ser Invisível</a></li>
		</ul>
	</nav>
  </div>

  <div class="footer">
		<div class="contain">
		<div class="col">
		  <ul>
			<li class="imagem"><img src="../img/logo.png" width="50%" alt="" sizes="" srcset=""></li>
		  </ul>
		</div>
		<div class="col texto">
		  <h1>Sobre mim</h1>
		  <ul>
				<p>Olá tudo bem? Meu nome Jully Silva, Estudante de Engenharia de Software e 
						louca por desenvolvimento Web. Muitos olham e não percebem que sou uma Otaku sem precedentes, 
						tudo bem não me importo, para falar a verdade acho até engraçado.</p>

		  </ul>
		</div>
		<div class="col social">
		  <h1>Gêneros</h1>
		  <ul>
			<li><a href="#">Ação</a></li>
			<li><a href="#">Aventura</a></li>
			<li><a href="#">Terror</a></li>
			<li><a href="#">Animação</a></li>
			<li><a href="#">Suspense</a></li>
		  </ul>
		</div>

		<div class="col social">
		  <h1>Social</h1>
		  <ul>
				<li><a href="mailto:jullyksilva@hotmail.com">Email</a></li>
			<li><a href="https://github.com/jullysilva/">Github</a></li>
			<li><a href="tel:+5531995123805">Telefone</a></li>
		  </ul>
		</div>
	  <div class="clearfix"></div>
	  </div>
	  </div>
</body>