<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<title>CinemaTur</title>
	<link rel="stylesheet" href="../css/style.css">
</head>

<body>

  <header class="menu">
		<ul>
			<li><a href="../index.html"><img src="../img/logo.png" alt="" sizes="15px" srcset=""></a></li>
			<li><a href="../index.html">Home</a></li>
			<li><a href="https://www.ingresso.com/itapevi/home/">Ingressos</a></li>
			<li><a href="http://www.adorocinema.com/">Mais sobre</a></li>
		</ul>
	</header>

  <div id="main">
    <article class="artigo">
		<div class="container-fluid">

			<div class="line-card">
				<div class="card-notice">
                        
<!-- RESPONSIVE TABLE -->
<table class="table table-responsive">
  
        <thead> 
          <tr>

              <th>Filme</th>
          </tr>
        </thead>
        
        <tbody> 
            <tr>
              <td>1</td>	


            </tr>
            <tr> 
              <td>2</td>
            </tr>
            <tr>
              <td>3</td> 	
            </tr>
            <tr>
              <td>4</td>		
            </tr>
            <tr>
              <td>5</td>		
            </tr>
            <tr>
              <td>6</td>		
            </tr>
            <tr>
              <td>7</td>		
            </tr>
            <tr>
              <td>8</td>			
            </tr>
            <tr>
              <td>9</td> 		
            </tr>
            <tr>
              <td>10</td> 	 	
            </tr>
            <tr>
              <td>11</td>		
            </tr>
            <tr> 
              <td>12</td>		
            </tr>
            <tr> 
              <td>13</td>		
            </tr>
            <tr> 
              <td>14</td>					
            </tr>
            <tr>
              <td>15</td>
            </tr>
            <tr>
              <td>16</td>	
            </tr>
            <tr> 
              <td>17</td>		
            </tr>
            <tr>
              <td>18</td>		
            </tr>
            <tr>
              <td>19</td>
            </tr>
            <tr> 
              <td>20</td>		
            </tr>
      
        </tbody>
        
      </table>
      <!-- END RESPONSIVE TABLE -->
				</div>
			</div>
		</div>
	</article>

    <nav class="navegador">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</nav>
  </div>

  <div class="footer">
		<div class="contain">
		<div class="col">
		  <ul>
			<li class="imagem"><img src="../img/logo.png" width="50%" alt="" sizes="" srcset=""></li>
		  </ul>
		</div>
		<div class="col texto">
		  <h1>Sobre mim</h1>
		  <ul>
			<p>Texto é um conjunto de palavras e frases encadeadas que permitem interpretação e transmitem uma mensagem.
				 É qualquer obra escrita em versão original e que constitui um livro ou
				 um documento escrito. Um texto é uma unidade linguística de extensão superior à frase.</p>

		  </ul>
		</div>
		<div class="col social">
		  <h1>Gêneros</h1>
		  <ul>
			<li><a href="#">Ação</a></li>
			<li><a href="#">Aventura</a></li>
			<li><a href="#">Terror</a></li>
			<li><a href="#">Animação</a></li>
			<li><a href="#">Suspense</a></li>
		  </ul>
		</div>

		<div class="col social">
		  <h1>Social</h1>
		  <ul>
			<li><a href="mailto:">Email</a></li>
			<li><a href="https://github.com/jullysilva/">Github</a></li>
			<li><a href="tel:+5531995123805">Telefone</a></li>
		  </ul>
		</div>
	  <div class="clearfix"></div>
	  </div>
	  </div>
</body>