<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<title>CinemaTur - Pedidos</title>
	<link rel="stylesheet" href="../css/style.css">
</head>

<body>

  <header class="menu">
		<ul>
			<li><a href="../index.html"><img src="../img/logo.png" alt="" sizes="15px" srcset=""></a></li>
			<li><a href="../index.html">Home</a></li>
			<li><a href="https://www.ingresso.com/itapevi/home/">Ingressos</a></li>
      <li><a href="http://www.adorocinema.com/">adorocinema</a></li>
      <li><a href="pedidos.html">Pedidos</a></li>
		</ul>
	</header>

  <div id="main">
    <article class="artigo">
		<div class="container-fluid">

			<div class="line-card">
				<div class="card-notice">
                        
<!-- RESPONSIVE TABLE -->
<table class="table table-responsive">
  
        <thead> 
          <tr>
              <th>Filmes pedidos</th>
          </tr>
        </thead>
        
        <tbody> 
            <tr><td>Os Sete Samurais</td></tr>
            <tr><td>Bonnie e Clyde – Uma Rajada de Balas</td></tr>
            <tr><td>Cães de Aluguel</td></tr>
            <tr><td>O Labirinto do Fauno</td></tr>
            <tr><td>O Franco-Atirador</td></tr>
            <tr><td>Up – Altas Aventuras</td></tr>
            <tr><td>Rocky, um Lutador</td></tr>
            <tr><td>Coração Valente</td></tr>
            <tr><td>Quem Quer Ser um Milionário?</td></tr>
            <tr><td>Senhor dos Anéis: O Retorno do Rei</td></tr>
            <tr><td>A Bela e a Fera</td></tr>
            <tr><td>A Origem</td></tr>
            <tr><td>Senhor dos Anéis: A Sociedade do Anel</td></tr>
            <tr><td>Wall-E</td></tr>
            <tr><td>Os Caça-Fantasmas</td></tr>
            <tr><td>Todos os Homens do Presidente</td></tr>
            <tr><td>O Jovem Frankenstein</td></tr>
            <tr><td>O Rei Leão</td></tr>
            <tr><td>O Fabuloso Destino de Amélie Poulain</td></tr>
            <tr><td>Matrix</td></tr>
      
        </tbody>
        
      </table>
      <!-- END RESPONSIVE TABLE -->
				</div>
			</div>
		</div>
	</article>

  <nav class="navegador">
		<ul>
			<li><a href="#"> Star Wars: Uma Nova Esperança </a></li>
			<li><a href="#"> E.T. – O Extraterrestre </a></li>
			<li><a href="#">Um Sonho de Liberdade</a></li>
			<li><a href="#">O Mágico de Oz</a></li>
			<li><a href="#">O Poderoso Chefão</a></li>
			<li><a href="#">Casablanca</a></li>
			<li><a href="#">A Chegada</a></li>
			<li><a href="#">As Vantagens De Ser Invisível</a></li>
		</ul>
	</nav>
  </div>

  <div class="footer">
		<div class="contain">
		<div class="col">
		  <ul>
			<li class="imagem"><img src="../img/logo.png" width="50%" alt="" sizes="" srcset=""></li>
		  </ul>
		</div>
		<div class="col texto">
		  <h1>Sobre mim</h1>
		  <ul>
			<p>Olá tudo bem? Meu nome Jully Silva, Estudante de Engenharia de Software e 
        louca por desenvolvimento Web. Muitos olham e não percebem que sou uma Otaku sem precedentes, 
        tudo bem não me importo, para falar a verdade acho até engraçado.</p>

		  </ul>
		</div>
		<div class="col social">
		  <h1>Gêneros</h1>
		  <ul>
			<li><a href="#">Ação</a></li>
			<li><a href="#">Aventura</a></li>
			<li><a href="#">Terror</a></li>
			<li><a href="#">Animação</a></li>
			<li><a href="#">Suspense</a></li>
		  </ul>
		</div>

		<div class="col social">
		  <h1>Social</h1>
		  <ul>
          <li><a href="mailto:jullyksilva@hotmail.com">Email</a></li>
			<li><a href="https://github.com/jullysilva/">Github</a></li>
			<li><a href="tel:+5531995123805">Telefone</a></li>
		  </ul>
		</div>
	  <div class="clearfix"></div>
	  </div>
	  </div>
</body>